<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Components</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
              <a class="navbar-item" href="{{{relativize ./url}}}">{{{./title}}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
